:root {
    --color-primary: #f4a261;
    --color-secondary: #e76f51;
    --color-bg-default: #fffbf5;
    --color-bg-paper: #f0e9e9;
    --color-text-primary: #5a4a42;
    --color-text-secondary: #8a7a72;
}

#root {
    background-color: var(--color-primary);
    font-size: 18px;
    min-height: 100dvh;
    padding: 2rem;
    position: relative;
}

main {
    align-items: center;
    display: grid;
    margin: 2.5rem 0 0 0;
    min-height: 80vh;
    place-items: center;
    position: relative;
}

.routes-container {
    padding-bottom: 90px;
    position: relative;
    width: 100%;
    z-index: 2;
}

header {
    left: 0;
    padding: 1.5rem;
    position: absolute;
    top: 0;
    width: 100%;
}

nav ul {
    align-items: center;
    color: var(--color-bg-default);
    display: flex;
    font-weight: 600;
    gap: 2rem;
    justify-content: center;
    list-style-type: none;
    transition: 0.3s color;
}

nav li a {
    transition: 0.3s color;
}

nav li a:hover {
    color: var(--color-text-primary);
    transition: 0.3s color;
}

.clock {
    margin: 1.5rem 0;
}

.clock h1 {
    font-size: 3rem;

    @media screen and (min-width: 768px) {
        font-size: 5rem;
    }
}

.tomato-image {
    animation: bobbingEffect 3s ease-in-out infinite;
    bottom: 1rem;
    margin: 0 auto;
    position: fixed;
    width: 90px;
    z-index: 1;
}

@keyframes bobbingEffect {
    0% {
        transform: translate(0px, -6px) rotate(-1.5deg);
    }
    50% {
        transform: translate(15px, 6px) rotate(1.5deg);
    }
    100% {
        transform: translate(0px, -6px) rotate(-1.5deg);
    }
}
