:root {
    --color-primary: #f4a261;
    --color-secondary: #e76f51;
    --color-bg-default: #fffbf5;
    --color-bg-paper: #f0e9e9;
    --color-text-primary: #5a4a42;
    --color-text-secondary: #8a7a72;
}

#root {
    min-height: 100dvh;
    background-color: var(--color-primary);
    font-size: 18px;
    padding: 2rem;
    position: relative;
}

main {
    position: relative;
    margin: 2.5rem 0 0 0;
    display: grid;
    place-items: center;
    align-items: center;
    min-height: 80vh;
}

header {
    left: 0;
    padding: 1.5rem;
    position: absolute;
    top: 0;
    width: 100%;
}

nav ul {
    list-style-type: none;
    align-items: center;
    display: flex;
    gap: 2rem;
    justify-content: center;
    color: var(--color-bg-default);
}

nav li a:hover {
    text-decoration: none;
    color: var(--color-bg-default);
}

.clock {
    font-size: 5rem;
    margin: 1.5rem 0;
}
